<nav class="navbar navbar-expand-lg" style=" background-color: var(--darkColor);">
    <div class="container-fluid">
        <!-- <a class="navbar-brand" href="#">Navbar</a> -->
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">

            <ul class="navbar-nav ms-auto">

                <li class="nav-item">
                    <a class="nav-link fa-solid fa-house" href="#home">
                        Home</a>
                </li>


            </ul>

            <ul class="navbar-nav mx-auto">

                <!-- TODO: include "id" to the different sections for linking internally -->
                <li class="nav-item">
                    <a class="nav-link" href="#projects">Projects</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#experience">Experience</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#education">Education</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#certification">Certifications</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#contact">Contact Me</a>
                </li>

                <!-- TODO: ADMIN Dashboard shown only if Authenticated -->
                <!-- CHECKS if User is Admin -->
                <!-- @if (usersService.isAdmin()) {
                <div class="admin-container">
                    <li class="nav-item" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
                        <a class="nav-link" [routerLink]="['/dashboard']">
                            <i class="fa-solid fa-chart-line d-none d-md-inline mx-2"></i>
                            <span class="login-text">Dashboard</span>
                        </a>
                    </li>
                </div>
                }
                TODO: LOGIN / LOGOUT
            -->

            </ul>
        </div>
    </div>
</nav>