<hr>
<p class="title" id="org">Organization: <span>Carlos</span></p>
<p class="title" id="project">Project: <span>Personal Portfolio Page</span></p>
<p class="title" id="st-date">Start date: <span>2024</span></p>
<p class="title" id="end-date">End date: <span>Current</span></p>
<p class="title" id="description">Description: <span>Lorem ipsum dolor sit amet consectetur adipisicing elit. Numquam
        nostrum
        tempore vel
        fugit soluta assumenda,
        eaque eligendi, nisi molestiae itaque voluptate sed unde facilis nihil, dolor illo. Sint, culpa
        consectetur.</span>
</p>



<!-- TODO: bucle with all data 
    <hr>
    <p class="title" id="org">Organization: <span>{{organization}}</span></p>
<p class="title" id="project">Project: <span>{{project}}</span></p>
<p class="title" id="st-date">Start date: <span>{{st-date}}</span></p>
<p class="title" id="end-date">End date: <span>{{end-date}}</span></p>
<p class="title" id="description">Description: <span>{{description}}</span>
</p> 

-->