<!-- <hr>
<p class="title" id="org">Organization: <span>Carlos</span></p>
<p class="title" id="title">Project: <span>Personal Portfolio Page</span></p>
<p class="title" id="st-date">Start date: <span>2024</span></p>
<p class="title" id="end-date">End date: <span>Current</span></p>
<p class="title" id="description">Description: <span>Lorem ipsum dolor sit amet consectetur adipisicing elit. Numquam
        nostrum
        tempore vel
        fugit soluta assumenda,
        eaque eligendi, nisi molestiae itaque voluptate sed unde facilis nihil, dolor illo. Sint, culpa
        consectetur.</span>
</p> -->



<!-- TODO: bucle with recoletando todos los datos de la card: org, title,date... -->
<hr>
<p class="title" id="org">Organization: <span>{{organization}}</span></p>
<p class="title" id="project">Project: <span>{{title}}</span></p>
<p class="title" id="st-date">Start date: <span>{{stDate}}</span></p>
<p class="title" id="end-date">End date: <span>{{endDate}}</span></p>
<p class="title" id="description">Description: <span>{{description}}</span>
</p>

<!-- export interface Item {
    id: number;
    organization: string;
    title: string;
    stDate: string;
    endDate: string;
    description: string;
    categoryTitle: string
} -->