/* IMPORTS */
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');


* {
    box-sizing: border-box;
}

:root {
    /* Fonts */
    --mainFont: 'Raleway', sans-serif;

    /* Colors */
    --darkColor: #012A4A;
    --darkBlue: #01497C;
    --midBlue: #2A6F97;
    --lightBlue: #61A5C2;
    --lightColor: #A9D6E5;
}

h1 {
    font-size: 2rem;
}

h2 {
    font-size: 1.3rem;
}

h4 {
    font-size: 1rem;
}

a {
    color: white;
}